@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

$headingFont: 'Cabin', sans-serif;
$mainFont: 'Cabin', sans-serif;
$regFont: 'Playfair Display', serif;


$darkBlue: #130253;
$lightBlue: #2d9ce6 ;
$offWhite: #e0dfe2 ;

$fontFamily: 'Quicksand', sans-serif;

$regularWeight: 300;
$heavyWeight: 700;

$gutter: 2%;

